*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
}


@font-face {
    font-family: "Shrikhand";
    font-style: normal;
  
    src: url("./public/fonts/Shrikhand-Regular.ttf");
}


body {
    font-family: "Roboto";
}


/*flesh*/

i.fa-arrow-left {
    font-size: 1.3rem;
    color: black !important;
    position: absolute;
    left: 6%;
    top: 27px;
}

.subtitre{
    text-align:center;
    font-family: system-ui;
}
.img-slide{
    width: 100%;
    height: auto;
}




.con-section {
    background: #f2f2f2;
    margin-top: -43px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    position: relative;
    width: 100%;

        h1{
            font-family: Shrikhand;
            padding: 25px 1px 10px 12px;
        }
    }


    .titres{
        margin: 27px 0px 10px 27px;
        max-width: 40px;
        border-bottom: 2px solid #99E2D0;
        font-family: sans-serif;
            
        };

        .titre-2{
            padding: 0px 0px 23px 5px;

        }

.text-1,p{
    padding: 7px 11px 0px 12px;
    font-size: small;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
     p{
  
        font-family: sans-serif;
        padding-left: 1px;
        
    }
}         
.text-2{
    display: flex;
    justify-content: end;
    margin: -18px 14px 0px 0px;
    padding: 3px 6px 9px 0px;
    font-size: 16px;
    }
   
.sous-menu{
    padding: 0px 11px 0px 0px; ;
}
