



$color-primaire:#9356dc;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;


$color-dark:#000000;
$color-grey:#EAEAEA;
$color-clear:#ffffff;
$transparent: transparent;


// duration

$sonic: 200ms;
$fast: 300ms;
$moderate: 400ms;
$slow :500ms;

$sm: 768px;
$md: 1024px;