

/*color*/

$color-primaire:#9356dc;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;


$color-dark:#000000;
$color-grey:#EAEAEA;
$color-clear:#ffffff;
$transparent: transparent;


/*duration*/

$sonic: 200ms;
$fast: 300ms;
$moderate: 400ms;
$slow :500ms;

/*beraklpoint*/

$sm: 600px;
$md: 1024px;
$dsk:1224px;
$larg: 1824px;