/****************************footer********/
.con-footer{
    background-color: #2E2E2E;
    color: #ffffff;
    padding: 1.5em;
    padding-bottom: 3em;
    font-family: system-ui;
    ul,li{
        margin: 1rem 1rem 1rem 0.3rem;
          
      }
}
.titre-footer {
    font-family: "Shrikhand";
    margin-bottom: 1em;
    font-size: 1.7rem;
    .icon1, .icon2{
        padding-right: 10px;
    
    }
    
}


